body {
  background-color: #dddddd;
}

.header {
  background-color: lightblue;
  font-size: 1.8em;
  width: 100%;
  padding-left: 25px;
}

.restOfWord {
  font-family: 'Pacifico', cursive;
}

.phoneList {
  height: 360px;
  width: 500px;
  margin: 10px auto;
  overflow-y: auto;
}

ul {
  margin-top: -5px;
}

.collection {
  margin: 0;
}

.bottomBtn {
  margin-top:5;
  width: 100%;
  height: 70px;
}

li {
  font-size: 2em;
  border-top: 2px dashed gray;
}

.secondary-content {
  margin-top: -5px;
}

.search {
  margin: 0px auto;
  margin-top: 25px;
  width: 250px;
}

.addNumber {
  margin: 0px auto;
  margin-top: 25px;
  margin-bottom: -15px;
  width: 250px;
}

.collection-item {
  margin: 5px;
}

.deleteBtn {
  background-color: red;
}
