body {
  background-color: #dddddd;
}

.header {
  background-color: lightblue;
  font-size: 1.8em;
  width: 100%;
  padding-left: 25px;
}

.restOfWord {
  font-family: 'Pacifico', cursive;
}

.phoneList {
  height: 400px;
  width: 500px;
  margin: 10px auto;
  overflow-y: auto;
}

ul {
  margin-top: -5px;
}

.collection {
  margin: 0;
}

.bottomBtn {
  margin-top: 20px;
  width: 250px;
}

.rightBtn {
  float: right;
}

.search {
  margin: 0px auto;
  margin-top: 35px;
  width: 250px;
}
